body{
font-family:Arial,sans-serif;
margin:0;
background:#ffeaea;
color:#222;
}

h1{
margin:0;
padding:20px;
background:red;
color:white;
text-align:center;
}

h2{
color:red;
padding-left:20px;
}

p{
padding-left:20px;
padding-right:20px;
line-height:1.6;
}

nav{
background:#cc0000;
padding:12px;
text-align:center;
}

nav a{
color:yellow;
margin:10px;
font-weight:bold;
text-decoration:none;
font-size:18px;
}

footer{
text-align:center;
padding:20px;
margin-top:30px;
background:#ffb3b3;
}
